body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}
.nav {
  display: flex;
  justify-content: space-between;
  color: #aeb9cc;
}
.header-title {
  background-image: url('starry-background.JPEG');
  background-position: bottom;
  background-size: cover;
  padding: 5rem;
  min-height: 70vh;
}
.title {
  text-align: center;
  padding-top: 70px;
  font-size: clamp(4rem, 5vh + 0.5rem, 5rem);

  color: #d8d8d8;
  position: fixed;
}

.lead {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.site-header-mask {
  position: absolute;
  inset: 0;
  -webkit-mask: url('dkl-hero.png');
  mask: url('dkl-hero.png');
}
.hero {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border-style: solid;
  border-width: 20px;
}

.case-study {
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #1e2124;
  padding: 20px;
  margin-bottom: 50px;
}
.case-study-title {
  text-align: center;
}
.problem-features {
  display: flex;
  justify-content: space-between;
  justify-content: space-evenly;
  color: #d8d8d8;
}
.problem {
  width: 40%;
  background-color: #1e2124;
  padding: 20px;
}
.features {
  width: 40%;
  background-color: #1e2124;
  padding: 20px;
}
.feature-title {
  margin: 30px;
}
.technology {
  color: white;
}

.sanity-screenshot {
  width: 50%;
  margin: 50px;
}

.backend {
  display: flex;

  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  background-color: #1e2124;
  margin: 50px;
}
.backend-titles {
  margin: 100px;
}
