body {
    min-height: 100vh;
    font-family: monospace;
    place-content: center;
    text-align: center;
    
}
.btn:hover {
    background-color: #ffdbdc;
}
.text {
    position: relative;
    font-size: 100px;
}
h4 {
    padding: 30px;
}
h1 {
    padding: 50px;
}
ul {
    list-style: none;
    background: rgb(255,219,220);
background: radial-gradient(circle, rgba(255,219,220,0.2637429971988795) 0%, rgba(186,190,194,0) 100%);
    
}
#navbarNav {
    background: none;
}
#about-me {
   padding: 60px;
   padding-top: 10px;
}

.nav-link {
    color: gray;
}
.nav-link:hover {
    color: #ffc0cb;
}

#projects {
padding: 20px 60px;
background: rgb(255,219,220);
background: radial-gradient(circle, rgba(255,219,220,0.5242471988795518) 0%, rgba(186,190,194,0.3617822128851541) 100%);
}
.social-icons {
    display: inline-block;

}

.contact-container {
    background: rgb(250,250,250);
    background: radial-gradient(circle, rgba(250,250,250,1) 3%, rgba(171,169,169,0) 69%);
}